main{
    display: flex;
    justify-content: center;
}

table{
    margin: 20px;
    width: 80vw;
    height: 60vh;
}

td, th, caption{
    border: 1px black solid;
    text-align: center;
    overflow-y: hidden;
}

caption{
    background-color: rgb(173, 166, 166);
}

table a{
    display: block;
    text-decoration: none;
    height: 100%;
    width: 100%;
    color: black;
    transition: 0.2s;

}

table a:hover{
    background-color: black;
    color: white;
    transform: scale(2);
}