#menu_button img{
    display: none;
}

.desktop_menu{
    display: inherit;
    justify-content: space-evenly;
    flex-grow: 1;
}

.main_banner{
    background-color: black;
}

.main_banner video{
    max-height: 70vh;
    min-width: 100vw;
}