.container{
    display: flex;
    justify-content: space-between;
    min-height: 30vh;
}

.text{
    width: 40vw;
    transition: 0.5s;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    max-height: 20vh;
}

#left{
    position: relative;
    right: 20vw;
    background-color: rgba(199, 145, 45, 0.668);
}

#right{
    position: relative;
    left: 20vw;
    background-color: rgba(218, 195, 151, 0.668);
}

#left:hover{
    right: 0;
}

#right:hover{
    left: 0;
}