.main_banner{
    background-color: black;
}

.main_banner video{
    height: auto;
    width: 100vw;
    max-height: 96vh;
}

#hombre_coffee{
    height: 60%;
}

#first_pic{
    height: 100vh;
}

#first_pic h1{
    font-size: 80px;
}