html{
    scroll-behavior: smooth;
}

main{
    padding: 0 20px 20px 20px;
    margin-top: 0;
}

.productos{
    padding-top: 50px;
}

.producto:active{
    background-color: rgb(46, 46, 46);
}

.producto{
    margin-top: 20px;
    display: flex;
    border: solid white 1px;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
}

.producto:hover{
    background-color: #264d62;
    color: black;
}

.producto .texto{
    max-width: 65vw;
    margin-left: 5px;
}

.producto img{
    width: 30vw;
    max-height: 100%;
}