html{
    scroll-behavior: smooth;
}

.productos{
    padding: 50px 20px 20px 20px;
}

#almuerzos:target, #desayunos:target, #cenas:target{
    background-color: rgb(24, 23, 23);
    transition: 0.5s;
}

.producto{
    margin-top: 20px;
    display: flex;
    border: solid white 1px;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
}

.producto:hover{
    background-color: #264d62;
    color: black;
}

.producto .texto{
    max-width: 65vw;
    margin-left: 5px;
}

.producto img{
    width: 30vw;
    max-height: 100%;
}